.product-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 20px;
}
.product-list article {
  background: rgb(61, 61, 61);
  border: 1px solid rgb(53, 53, 53);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  transition: all 0.2s;
}
.product-list article:hover {
  background-color: rgb(53, 53, 53);
}
.product-list article p {
  font-size: 16px;
  color: #f0f0f0;
  margin-top: 5px;
  line-height: 24px;
}
.product-list article a {
  height: 42px;
  border-radius: 5px;
  border: 2px solid #7159c1;
  background: none;
  margin-top: 10px;
  color: #fafafa;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.product-list article a:hover {
  background: #7159c1;
  color: #fff;
}
.product-list .actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.product-list .actions button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #7159c1;
  background: rgb(61, 61, 61);
  color: #fafafa;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
.product-list .actions button:hover {
  background: #7159c1;
  color: #fff;
}
.product-list .actions button[disabled] {
  opacity: 0.5;
  cursor: default;
}
.product-list .actions button:hover {
  opacity: 0.7;
}
.product-list .actions button[disabled]:hover {
  opacity: 0.5;
}
